.DS_Store
npm-debug.log
Thumbs.db
node_modules/
.build/
out/
out-build/
out-editor/
out-editor-min/
out-monaco-editor-core/
out-vscode/
out-vscode-min/
build/node_modules
coverage/
!/extensions/RichardHe.you-complete-me-*/**
!/extensions/xaver.clang-format-*/**
!/extensions/webfreak.debug-*/**
!/extensions/donjayamanne.python-*/**
!/extensions/twxs.cmake-*/**
!/extensions/vscodevim.vim-*/**
!/extensions/roboware-*/**
/extensions/roboware-kit/out
